<div class="row">
    <%= image_tag "productheader.jpg", class: "img-responsive", style: 'margin: 0 auto; padding-left: 200px;' %>
</div>


<div class='container'>
  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>
      <h3>What is Damaged Goods or the Dental Technicians Guild?</h3>
      <p>Dental Technicians Guild (DTG) is a Facebook based group now with of over one hundred dentists and dental technicians from around the world. They are easily recognized by their “Damaged Goods” logo, which comes from the T-shirt company owned by the group founder Von Grow. It can mean different things to different people. They view it as their ‘calling card’; as a symbol for everyone that is passionate about high quality, hand-made dental restorations. It is not perfect – nothing in nature really is - everything is at least a little “damaged goods.” It is real, honest, bold and different. Plus, the DG logo seems to ‘shake things up a bit’.</p>

      <p>      The reason for forming the Guild was to increase their recognition, motivation and value. How does a technician compete with labs that are mass-producing faster, cheaper restorations? They increase the value of their work. But why would a patient or a doctor pay more for their work? If you were buying a car, would you expect to pay more for a Mercedes or a Ford? Why pay more? They are both cars? If you had the opportunity, which would you choose? When the doctor and patient understand that they have options they will choose the highest value they can afford. DTG creates a platform were talented technicians can be recognized by the quality of their work and a resource for doctors looking to improve their restorative team. There are a lot of underestimated technicians that no one knows. The idea was, if they collected enough talent together then people would notice. Why bother getting educated, go to courses or try and do any better at your craft if it is not going to make any difference? When you have your name on your work and you post it on the Internet for the world to see – you will do your best work. DTG wants to bring technicians out of the shadows and give them a reason to produce excellent work.</p>

      <h3>      Why a ‘guild’ and not just a ‘group’?</h3>
      <p>      Guild can be defined as “an association of artisans sharing knowledge and experience of their craft”. As a guild, DTG is stronger than any individual member. When one member has a difficult situation, it is presented to the Guild. In helping to find solutions and analyzing the results, all in the Guild benefit. A dentist that works with a DTG member is not just working with one talented technician but with over one hundred.</p>

      <h3>      How does someone join DTG?</h3>
      <p>      Their desire is for DTG to be open to everyone. There is a Dental Technicians Guild page open to the public where updates and work from the Guild are regularly posted. However, the actual DTG group is closed to protect and preserve the highest quality of content. Before being invited into DTG they want to know you. To accomplish this an entry level page was created call “Damaged Goods Unite!/DTG Affiliates” group. It is a closed group, but everyone can join. The requirements for membership are the same as DTG - 1) a positive attitude, 2) a passion to do your very best work and 3) actively sharing your knowledge and experience with the Guild. When DTG determines that a DGA member has met these requirements to a reasonable degree and receives a majority vote - they are readily invited into the Guild.</p>

      <h3>      Is DTG connected to any other associations or companies?</h3>
      <p>      As individuals, their families and personal businesses will always be their priority. DTG is more of a ‘confederation’ of independent dental professionals. Diversity is one of their strongest assets. DTG is not limited to any location, material or discipline. Their scope is all aspects of dentistry – acrylic and porcelain, fixed and removable, dentist and technician - and everything in between. Any arrangements with other associations or vendors are up to the individual. Some members are Key Opinion Leaders for various, often competing dental manufacturers. But this is not a conflict for the Guild; rather it increases their value. Imagine a group that consists of experts of every material and technique, all sharing their experience. If you have a question, ask DTG. That goal is ambitious and maybe even arrogant. But that is their passion and you cannot put a limit on passion.</p>

      <h3>THIS EXPLANATION WAS ELOQUENTLY WRITTEN BY JIM REDDEN, DTG</h3>
    </div>
  </div>
</div>
