<div class="row">
    <%= image_tag "productheader.jpg", class: "img-responsive", style: 'margin: 0 auto; padding-left: 200px;' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-5">
      <br/>
      <p>Hi, I'm Vadim Vainer DTG,  the owner of Axium Dental Arts dental laboratory in Portland, OR and formal co-owner of Dentech Pro, Inc dental laboratory in Clackamas, OR. </p>
      <p>      My specialty is dental ceramics, crown and bridge, implants and high quality cosmetic restorations. </p>
      <p>
      By constantly attending continuing education classes I achieved a deep understanding of shade, color, a variety of techniques and the use of various dental materials.
      </p>
      <p>
      I'm an official member of Dental Technicians Guild and I have a degree in both computer science and dental technology.
      </p>
      <p>      Also I like to get outdoors and take some pictures, especially of my Chocolate Labrador, Lyla.
      </p>
    </div>
  </div>
</div>
