<div class="row">
  <br/>
  <%= image_tag "productheader.jpg", class: "img-responsive", style: 'margin: 0 auto; padding-left: 200px;' %>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <div class="prod-list">
      <h3>ALL CERAMIC - METAL FREE</h3>
      <ul>
        <li><a href="#">IPS e.max Press Inlay / Onlay </a></li>
        <li><a href="#">IPS e.max Press Veneers</a></li>
        <li><a href="#">IPS e.max Press Crown</a></li>
        <li><a href="#">IPS e.max Press Layered Crown / Veneer</a></li>
        <li><a href="#">Zirconia Crown Layered </a></li>
        <li><a href="#">Zirconia Implant Crown Layered</a></li>
        <li><a href="#">Zirconia Bridge Layered</a></li>
        <li><a href="#">Full Contour Zirconia Crown</a></li>
        <li><a href="#">Full Contour Zirconia Bridge</a></li>
      </ul>
    </div>
  </div>

    <div class="col-xs-4 col-xs-offset-1">
      <div class="prod-list">
        <h3>OTHER</h3>
        <ul>
          <li><a href="#">Full Zirconia Hybrids</a></li>
          <li><a href="#">Custom Shade Adjustment</a></li>
          <li><a href="#">Foil Feldspathic Veneers </a></li>
          <li><a href="#">Pink Tissue</a></li>
          <li><a href="#">Diagnostic Wax Up</a></li>
          <li><a href="#">Zirconia Hybrid Abutment</a></li>
          <li><a href="#">Custom Implant Abutment</a></li>
          <li><a href="#">Soft Tissue Model</a></li>
          <li><a href="#">Duplicate Model</a></li>
        </ul>
    </div>
  </div>
</div>
